*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-color: black;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgb(27, 27, 27);
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.logodigitalcollege {
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 20%;
}
.botaoNumero{
    background-color: #050505;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoOperacao{
    background-color: #242424;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoIgual{
    background-color: #0d6f7c;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoNumero:hover{
    background-color: #a8a8a8;
}
.botaoOperacao:hover{
    background-color: #a8a8a8;
}
.botaoIgual:hover{
    background-color: #118fa0;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}