*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-color: black;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgb(27, 27, 27);
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.botaoNumero{
    background-color: #050505;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoOperacao{
    background-color: #242424;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoIgual{
    background-color: #01a88c;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoLimpar{
    background-color: #6b0810;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
}
.botaoNumero:hover{
    background-color: #a8a8a8;
}
.botaoOperacao:hover{
    background-color: #a8a8a8;
}
.botaoIgual:hover{
    background-color: #01dfc1;
}
.botaoLimpar:hover{
    background-color: #8d0813;
}
#display{
    background-color: white;
    display: inline-table;
    margin: 7px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 10px;
}